body{
    /* overflow: hidden; */
}
div#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    /* put all the text inside in the center */
    text-align: center;

}

.chip{
    transform-origin: center center;
    font-size: 5em;
    font-family: 'Varela Round', sans-serif;
    color: rgb(191, 223, 191);
    position: relative;
    text-shadow: 0 0 30px rgb(88, 138, 55), 0 0 15px rgba(88, 167, 81, 0.575), 0 0 20px rgba(39, 112, 58, 0.267);
    padding: 0;
    margin: 0;
    border:0;
    width: fit-content;
    /* stop the user selecting */
    -webkit-user-select: none;

}

.chip:hover{
    transition: 0.3s cubic-bezier(1, 0.1, 0.44, 1.12);
    font-size: 6em;
    color: rgb(33, 163, 54);
    text-shadow: 0 0 50px rgb(88, 138, 55), 0 0 80px rgba(88, 167, 81, 0.801), 0 0 100px rgba(39, 112, 58, 0.267);
    
}

.chip:active{
    transition: all 0.3s cubic-bezier(0, 1.57, 0.45, 0.9);
    transform: rotate(10deg);
    font-size: 5.7em;
}



body{
    background-color: rgb(15, 15, 15);
}

p{
    
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    color: rgb(191, 223, 191);
    position: relative;
    text-shadow: 0 0 30px rgb(88, 138, 55), 0 0 15px rgba(88, 167, 81, 0.575), 0 0 20px rgba(39, 112, 58, 0.267);
    padding: 0;
    margin: 0;
    border:0;
    width: fit-content;
    /* stop the user selecting */
    -webkit-user-select: none;

    /* center it */
    text-align: center;
    /* translate: translateX(-50px); */



}
#scroll-icon{
    position: fixed;
    color: red;
    width: fit-content;
    transition: 1s;
    top: 0%;
    left: 0%;
}
.material-icons{
    color: rgb(191, 223, 191);
    position: relative;
    text-shadow: 0 0 30px rgb(88, 138, 55), 0 0 15px rgba(88, 167, 81, 0.575), 0 0 20px rgba(39, 112, 58, 0.267);
    padding: 0;
    margin: 0;
    border:0;
    width: fit-content;
    /* stop the user selecting */
    -webkit-user-select: none;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
    0%   {transform: translateY(0px);}
    50% {transform: translateY(10px);}
  }
  
  /* The element to apply the animation to */

div#scroller{
    transition: 0.3s;
    position: fixed;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0px);
    width: fit-content;
    height: fit-content;
    /* put all the text inside in the center */
    text-align: center;
    height: 25px;
}
#scroller2{
    transition: 0.3s;
}

div#container2{
    position: fixed;

    top: 60%;
    left: -25%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    /* put all the text inside in the center */
    text-align: left;
    visibility: hidden;
}

.line{
    width: 0%;
    height: 10px;
    background-color: rgb(191, 223, 191);
    box-shadow: 0 0 30px rgb(88, 138, 55), 0 0 15px rgba(88, 167, 81, 0.575), 0 0 20px rgba(39, 112, 58, 0.267);
    position: relative;
    margin: auto;
}


#titles{
    position: fixed;
    top: -25vh;
    left: -25vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 27vh;
    /* put all the text inside in the center */
    text-align: center;
    overflow: hidden;


}
#titles2{
    position: fixed;
    top: 125vh;
    left: 125vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 27vh;
    /* put all the text inside in the center */
    text-align: center;
    overflow: hidden;


}

#par1{
    position: fixed;
    top: 125vh;
    left: -25vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 27vh;
    /* put all the text inside in the center */
    text-align: center;
    overflow: hidden;


}
#par2{
    position: fixed;
    top: -25vh;
    left: 125vw;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 27vh;
    /* put all the text inside in the center */
    text-align: center;
    overflow: hidden;


}


.paragraph{
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    color: rgb(191, 223, 191);
    position: relative;
    text-shadow: 0 0 30px rgb(88, 138, 55), 0 0 15px rgba(88, 167, 81, 0.575), 0 0 20px rgba(39, 112, 58, 0.267);
    padding: 0;
    margin: 0;
    border:0;
    width: fit-content;
    /* stop the user selecting */
    -webkit-user-select: none;

    /* center it */
    text-align: center;
    /* translate: translateX(-50px); */
}

.paragraph2{
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    color: rgb(191, 219, 223);
    position: relative;
    text-shadow: 0 0 30px rgb(88, 138, 55), 0 0 15px rgba(88, 167, 81, 0.575), 0 0 20px rgba(39, 112, 58, 0.267);
    padding: 0;
    margin: 0;
    border:0;
    width: fit-content;
    /* stop the user selecting */
    -webkit-user-select: none;

    /* center it */
    text-align: center;
    /* translate: translateX(-50px); */
}